.feed_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  .sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e4e4e4;
    .logo {
      width: 48%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        width: 25%;
        height: auto;
      }
      height: 10%;
    }
    .navigation {
      width: 60%;
      height: 80%;
      .navigationLink {
        outline: none;
        background: none;
        width: fit-content;
        border: none;
        padding: 15px;
        cursor: pointer;
        border-radius: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        grid-column-gap: 10px;
        p {
          font-size: 130%;
        }
        svg {
          font-size: 1.5rem;
        }
        &:hover {
          background-color: rgb(230, 230, 230);
          transition: 0.1s ease-in;
        }
      }
    }
    .profile {
      background-color: #e7e7e7;
      display: flex;
      justify-content: center;
      grid-column-gap: 1rem;
      border-radius: 25px;
      padding: 5px;
      width: 55%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      img {
        width: 30%;
        height: auto;
        border-radius: 50%;
      }
      .profile_details {
        padding-right: 10px;
        .profile_details_username {
          font-size: 13px;
        }
      }
    }
  }
  .home {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    border-right: 1px solid #e4e4e4;

    .header {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 2%;
      font-weight: 500;
      font-size: 120%;
    }

    .tweets_header_container {
      margin-top: 5%;
      padding: 3%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      grid-column-gap: 1rem;
      

      .selected_tweets_header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding:1% 2%;
        font-weight: 600;
        font-size: 102%;
        outline: none;
        cursor: pointer;
        background: none;
        border: none;
        border-radius: 10px;
        background-color: #ececec;
      }
      .tweets_header {
        display: flex;
        border: none;
        justify-content: flex-start;
        align-items: center;
        padding:1% 2%;
        font-weight: 600;
        font-size: 102%;
        outline: none;
        cursor: pointer;
        background: none;
      }
    }
    .add_tweet_container {
      width: 100%;
      height: 25vh;
      .add_tweet {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;
        .add_tweet_profile_image {
          width: 10%;
          height: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          img {
            width: 70%;
            height: auto;
            border-radius: 50%;
          }
        }
        .add_tweet_input {
          width: 90%;
          height: 100%;
          border-radius: 15px;
          border: 1px solid #dadada;
          outline: none;
          padding: 1rem;
          font-size: 1.5rem;
          &::placeholder {
            color: #ccc;
            font-size: 1.5rem;
            font-weight: 500;
          }
        }
      }
      .add_tweet_actions {
        padding: 0.2rem 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        .add_tweet_button {
          padding: 7px;
          border-radius: 25px;
          width: 15%;
          font-size: 100%;
          outline: none;
          border: none;
          color: white;
          font-weight: 600;
          background-color: var(--app-color);
          cursor: pointer;
        }
      }
    }

    .all_tweet {
      width: 100%;
      .tweet {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e4e4e4;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;
        position: relative;
        .tweet_profile_image {
          width: 10%;
          height: 100% !important;
          position: absolute;
          top: 6%;
          bottom: 0;
          left: 1rem;
          right: 0;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          img {
            width: 70%;
            height: auto;
            border-radius: 50%;
          }
        }
        .tweet_container {
          margin-left: 10%;
          width: 90%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          .user_details_container {
            height: 10%;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .name {
              font-weight: 600;
            }
            .username {
              margin-left: 5px;
              font-weight: 400;
              color: #505050;
            }
            .time {
              margin-left: 10px;
              font-size: 80%;
              color: #838383;
            }
          }
          .content {
            width: 100%;
            padding: 4% 0;
            height: 80%;
            p {
              color: black;
              span {
                color: var(--app-color);
              }
            }
          }
          .actions {
            width: 70%;
            height: 10%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
              border: none;
              background: none;
              outline: none;
              svg {
                color: #5a5a5a;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  .extras {
    width: 30%;
    height: 100%;
    padding: 1rem;
    overflow-y: auto;
    .ad_container {
      background-color: #2d3436;
      background-image: linear-gradient(15deg, #1e2020 45%, #3f3f3f 94%);
      height: 30vh;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      .ad__inform {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding: 0 10px;
        color: white;
        font-size: 12px;
      }

      .ad_title {
        margin-top: -10%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-gap: 5px;
        img {
          width: 70%;
          height: 70%;
        }
        p {
          color: white;
          font-weight: 500;
          font-size: 20px;
        }
      }
      .ad_description {
        color: white;
        font-weight: 600;
        font-size: 23px;
        width: 80%;
      }
      .ad_action {
        padding: 7px;
        width: 35%;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        font-family: "Inter Regular", Inter, Inter, system-ui, -apple-system,
          BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 600;
        font-size: 16px;
        background: rgb(235, 235, 235);
        color: rgb(0, 0, 0);
      }
    }
    .whats_happening_container {
      background-color: #f8f8f8;
      padding: 1rem;
      margin-top: 1rem;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      h2 {
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 10px;
        width: 100%;
      }
      .divider {
        width: 70%;
        border-bottom: 1px solid #dddddd;
        margin: 10px;
      }
      .trending {
        width: 100%;
        padding: 10px 0;
        .head {
        }
        .hashtag {
          margin: 5px 0;
          font-weight: 700;
        }
        .tweets {
        }
      }

      .tweet-list {
        margin-top: 100px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        .tweet {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          padding: 10px;
          border: 1px solid lightgray;
          border-radius: 10px;
          cursor: pointer;
        }

        .tweet:hover {
          background-color: #f5f5f5;
        }

        .tweet img {
          width: 50px;
          height: 50px;
          margin-right: 10px;
          border-radius: 50%;
        }

        .tweet-content {
          flex: 1;
        }

        .tweet-username {
          font-weight: bold;
          margin: 0;
        }

        .tweet-text {
          margin: 5px 0;
          color: #333;
        }

        .tweet-time {
          font-size: 0.8em;
          color: gray;
          margin: 0;
        }
      }
    }
  }
}
